<?xml version="1.0" encoding="UTF-8"?>
<web-app        xmlns="http://java.sun.com/xml/ns/javaee"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		               http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
              version="2.5">

    <display-name>jQuery Transmit Upload Example</display-name>

    <context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>jquery.transmit.root</param-value>
    </context-param>

    <listener>
        <listener-class>
            org.apache.commons.fileupload.servlet.FileCleanerCleanup
        </listener-class>
    </listener>

    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>com.googlecode.example.FileUploadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/fileupload/</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>