<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%date %-5level [%thread] %logger{36} [%file:%line] - %msg%n</Pattern>
        </layout>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/usr/local/tomcat/logs/transmit.log</File>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%date %-5level [%thread] %logger{36} [%file:%line] - %msg%n</Pattern>
        </layout>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>1</maxIndex>
            <FileNamePattern>/usr/local/tomcat/logs/transmit.log.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>1000KB</MaxFileSize>
        </triggeringPolicy>
    </appender>
    <logger name="org.hibernate" level="ERROR"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.apache" level="WARN"/>
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>